@font-face {
    font-family: Ubuntu;
    src: url(../fonts/JosefinSans-VariableFont_wght.ttf);
}

/* // -------------------------- GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff8ed;
    color: white;
}

main {
    padding: 5vh 5vw;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #05408e;

    h1 {
        background-color: #fdffff;
        padding: 1% 10%;
        border: 1px solid #05408e;
        border-radius: 30px;
        font-size: 1rem;
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 5vh;
    }
}
/* // -------------------------- HOW MANY ROUNDS DO YOU WANT TO PLAY? */
#sectionRounds {
    text-align: center;

    p {
        text-align: center;
        margin-bottom: 3vh;
    }

    #counterRounds {
        /* counting the already played rounds */
        display: none;
        margin-bottom: 6.6vh;
        font-size: 1rem;

        i {
            margin-left: 10px;
        }
    }

    #formRounds {
        /* select the number of rounds */
        margin: 0vh 0 5vh 0;

        label {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            cursor: pointer;
            color: #05408e;
            font-size: 1rem;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }

        label::before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 40px;
            background-color: #f3eadb;
            border-radius: 50%;
            z-index: -1;
        }

        input[type="radio"]:checked + label::before,
        input[type="radio"]:hover + label::before {
            background-color: #05408e;
        }

        input[type="radio"]:checked + label,
        input[type="radio"]:hover + label {
            color: #f3eadb;
        }
    }
}

/* // -------------------------- SCORE BOARD */
#sectionCounter {
    background-image: url("../img/counter.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 300px;
    margin: 0 auto 5vh auto;
    text-align: center;
    position: relative;

    #scoreUser {
        position: absolute;
        top: 45%;
        left: 37%;
        font-size: 2.5rem;
    }

    #scoreCom {
        position: absolute;
        top: 45%;
        left: 55.5%;
        font-size: 2.5rem;
    }

    p {
        position: absolute;
        background-color: #05408e;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
    }

    p:first-of-type {
        /* YOU */
        top: 48%;
        left: 0;
    }

    p:nth-of-type(2) {
        /* COM */
        top: 48%;
        right: 0;
    }
}

/* // -------------------------- BOTH THE NUMBER-OF-ROUNDS-BUTTONS AND THE ROCK-PAPER-SCISSORS-BUTTONS */
input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 1vh 0;
}

label {
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    padding: 5px 25px;
    border-radius: 10px;
    font-size: 0.9rem;
}

/* // -------------------------- SELECT ROCK, PAPER, SCISSORS + RESULT */
#sectionPlay {
    text-align: center;
    margin: 0 auto;

    #formChoice {
        /* the buttons to select your choice are not visible until the number of rounds is chosen */
        display: none;
    }

    p {
        margin-bottom: 5vh;
    }

    input[type="radio"]:checked + label,
    input[type="radio"]:hover + label {
        margin-bottom: 3vh;
    }

    img {
        width: 50px;
        margin-bottom: 1vh;
    }

    label {
        border: 1px solid #05408e;
    }

    article {
        /* result user vs. result com */
        grid-template-columns: repeat(3, 15vw);
        width: fit-content;
        margin: 5vh auto 3vh auto;
        font-family: Ubuntu;
        display: none;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 2vw;

            img {
                height: 50%;
                object-fit: contain;
            }

            p {
                margin-bottom: 0;
            }
        }

        #result {
            grid-column: 1/4;
            margin-bottom: 0;
        }
    }

    #restart {
        color: #05408e;
        border-radius: 5px;
        padding: 5vh 3vw;
        display: none;
        width: fit-content;
        margin: auto;

        i {
            margin-right: 10px;
        }
    }

    #hintText {
        margin: 3vh 0;
    }
}
