@use "mixins.scss";
@use "variables.scss";

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/JosefinSans-VariableFont_wght.ttf);
}

/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff8ed;
    color: white;
    height: 100vh;
}

main {
    padding: 5vh 5vw;
    margin: auto;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #05408e;

    h1 {
        background-color: #fdffff;
        padding: 1.5% 10%;
        border: 1px solid #05408e;
        border-radius: 30px;
        font-size: 1rem;
        width: max-content;
        margin: auto;
    }
}

#sectionRounds {
    text-align: center;

    p {
        margin: 5vh;
        text-align: center;
    }

    #counterRounds {
        display: none;
        margin: 2vh 0 5vh 0;
    }

    #formRounds {
        margin-bottom: 5%;

        input[type="radio"] {
            visibility: hidden;
        }

        label {
            position: relative; /* Added */
            display: inline-block; /* Added */
            vertical-align: middle;
            text-align: center;
            cursor: pointer;
            color: #05408e;
            font-size: 1.3rem;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }

        /* Added */
        label::before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50px;
            height: 50px;
            background-color: #f3eadb;
            border-radius: 50%;
            z-index: -1;
        }

        input[type="radio"]:checked + label::before,
        input[type="radio"]:hover + label::before {
            background-color: #05408e;
        }

        input[type="radio"]:checked + label,
        input[type="radio"]:hover + label {
            color: #f3eadb;
        }
    }
}

#sectionCounter {
    background-image: url("../img/number-guessing-game-c-project-Thumbnail.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 25vh;
    width: 300px;
    padding: 2vh 5vw;
    margin: 0 auto 5vh auto;
    text-align: center;
    position: relative;

    h2 {
        position: absolute;
        top: 45%;
        left: 35%;
        font-size: 3rem;
        letter-spacing: 2.1rem;
    }

    p {
        position: absolute;
        background-color: #05408e;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
    }

    p:first-of-type {
        top: 52%;
        left: -5%;
    }

    p:nth-of-type(2) {
        top: 52%;
        right: -5%;
    }
}

input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 3vh 0;
}

label {
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    padding: 8px 25px;
    border-radius: 10px;
}

#sectionPlay {
    text-align: center;
    margin: 0 auto;

    p {
        margin-bottom: 5vh;
    }

    input[type="radio"]:checked + label,
    input[type="radio"]:hover + label {
        margin-bottom: 3vh;
    }

    img {
        width: 50px;
        margin-bottom: 1vh;
    }

    label {
        border: 1px solid #05408e;
    }

    article {
        grid-template-columns: repeat(3, 33%);
        margin: 5vh 10vw;
        font-family: Ubuntu;
        display: none;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p {
                margin-bottom: 1vh;
            }
        }

        #result {
            grid-column: 1/4;
            margin-bottom: 3vh;
        }
    }
}

#restart {
    text-decoration: none;
    border: 1px solid #05408e;
    color: #05408e;
    border-radius: 5px;
    padding: 1vh 3vw;
    display: none;
}
